* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    background-color: aliceblue !important;
}

.navbar {
    background-color: #0055d1 !important;
}

.navbar-brand {
    font-weight: bolder;
    color: white !important;
}

.nav-link {
    color: white !important;
}

#main_menu_toggler {
    background-color: white !important;
}

#main_menu_toggler .navbar-toggler-icon {
    color: white !important;
}

.navbar .username {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

}

/* user top menu  */
.navbar .username .usermenu {
    width: 240px;
    background-color: aliceblue;
    position: absolute;
    top: 4rem;
    right: 0rem;
    cursor: pointer;
    z-index: 9;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 30%);
    overflow: hidden;

}

/* .navbar .username .usermenu a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #0055d1;

} */

.navbar .username .usermenu a:hover {
    color: #0055d1;
    background-color: white;
}

.navbar .username i {
    color: #0055d1 !important;
    font-size: 1.5rem;
}

.active {
    background-color: #0055d1 !important;
    color: white !important;
}

.btn-primary {
    background-color: #0055d1 !important;
}

.lession {
    background-color: white;
}

.lession a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

.lession a:hover {
    color: black;
    background-color: lightgray;
}

.video {
    height: 480px;
    position: relative;

}

.video iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border: 1px solid green;
}

/* course section  */
.card img {
    max-height: 300px;
}

footer {
    background-color: #0055d1 !important;
}

footer .footer p {
    color: white;
}